@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lato:wght@300&family=Ubuntu&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

/*generic stylings */

.bold {
    font-weight: 700;
}

.background-image {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: auto;
    height: 2400px;
    opacity: 0.5;
}

/* Nav Bar */

.nav_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

nav a img {
    height: 150px;
    width: 150px;
}

.nav-menu {
    display: flex;
    gap: 1rem;
}

nav li {
    list-style: none;

}

nav li a {
    text-decoration: none;
    color: #636359;
    font-family: 'Ubuntu', sans-serif;
    font-size: 112.5%;
}

.nav-menu a:hover {
    border-bottom: 1px solid #FF0000;
}

.nav-menu a:hover,
a:active {
    color: #FF0000;
}

/*hero Image Styles */

.hero-image {
    display: flex;
    justify-content: center;
    background: rgb(255, 255, 255);
    background: radial-gradient(circle, rgba(255, 255, 255, 1) 7%, rgba(200, 16, 46, 1) 42%);
    border-top: 70px solid #51534a;
}


.hero-image img {
    height: 700px;
    width: 1200px;
    background-repeat: no-repeat;
}