<style>@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lato:wght@300&family=Ubuntu&display=swap');

</style>* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Nav Bar */

.nav_1 {
    display: flex;
    justify-content: space-between;
}

nav a img {
    height: 100px;
    width: 100px;
}

nav li {
    list-style: none;
    display: inline-block;
}

nav li a {
    text-decoration: none;
    color: #636359;
    font-family: 'Ubuntu', sans-serif;
}

.nav-menu a:hover {
    border-bottom: 1px solid #FF0000;
}

.nav-menu a:hover,
a:active {
    color: #FF0000;
}