<style>@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Lato:wght@300&family=Ubuntu&display=swap');

</style>* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Nav Bar */

header {
    height: 100px;
    width: 100%;
}

.nav_1 {
    display: flex;
    justify-content: space-between;

}

nav a img {
    margin-top: 10px;
    height: 100px;
    width: 100px;

}

nav li {
    margin-top: 65px;
    list-style: none;
    display: inline-block;
    margin-right: 15px;
}

nav li a {
    text-decoration: none;
    color: #636359;
    font-family: 'Ubuntu', sans-serif;
}

.nav-menu a:hover {
    border-bottom: 1px solid #FF0000;
}

.nav-menu a:hover,
a:active {
    color: #FF0000;
}

/*logo*/
.logo {

    height: 90px;
    background-image: linear-gradient(rgba(255, 0, 0, 1), rgba(255, 255, 255, 1));
    width: 33%;
    border-radius: 0px 0px 95px 0px;
}

h1,
h2 {
    font-family: 'Ubuntu', sans-serif;
    color: #636359;
    line-height: 35px;
    margin-left: 15px;
    justify-content: center;
    letter-spacing: 3px;
    margin-top: 5px;
}